# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual Environments
# ==============================
env/
venv/
.venv/
conda_env/
anaconda/

# ==============================
# Assets
# ==============================
assets/ *.webp

# ==============================
# Data (DO NOT COMMIT DATA)
# ==============================
data/raw/
data/processed/
data/modeling/

# ==============================
# Models (large binaries)
# ==============================
models/*.pkl
models/*.txt
models/*.json

# ==============================
# Environment variables
# ==============================
.env

# ==============================
# OS / Editor
# ==============================
.DS_Store
.vscode/
.idea/

# ==============================
# Logs
# ==============================
*.log

